.page-header {
  background-color: #12372A; /* mörkgrön från Figma */
  color: #ffffff;
  padding: 4rem 2rem;
  text-align: center;
}

.page-header h1 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 600;
}
